{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
    <div>

        <span>{{ op1 }} * {{ op2 }} =</span><span>{{ result }}</span>
    </div>

{% endblock %}





{% block stylesheets %}
    <style>
        div{
            font-size: 20px;
            color:black;
            margin-left: 15px;
        }
    </style>
{% endblock %}
