{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
    <div>
        <form id ="fr" method="post" action="{{ path('app_calculator_doSum') }}">
            <input type="number" name="op1"><br/>
            <input type="number" name="op2"><br/>
            <input type="submit" value="suma"><br/>
        </form>

    </div>

{% endblock %}





{% block stylesheets %}
    <style>
        div{
            font-size: 15px;
        }
    </style>
{% endblock %}